*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  border: 1px solid black;
}

.square {
  min-width: 2rem;
  flex-grow: 1;
  align-content: stretch;
  border: 1px solid yellow;
}
